
.test {
    font-size: 26px;
    padding: 10%;
    text-align: inherit;
    margin: 4%;
    margin-left: 13%;
    margin-right: 17%;
    border: solid;
    border-color: black;
    border-radius: 1%;
    padding-top: 4%;
    font-family: emoji;
    background-color: ivory;
}
#final {
    font-size: 29px;
    align-items: center;
    margin-left: 40%;
    margin-top: 6%;
}

 .h2 {
    font-size: 30;
    font-size: 2rem;
    padding: 2%;
    margin: auto;
    margin-left: 10%;
    font-size: 43px;
    font-family: monospace;
}